# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
*/node_modules/
/.pnp
.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
*/.env

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# supabase
supabase
/generated/prisma

# Prisma
api/prisma/dev.db
api/prisma/dev.db-journal
